In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:\\WERK\\PYTHON\\CODEBASICS\\dataset\\titanic2.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)
df.head()

   Pclass     Sex   Age  Parch     Fare  Survived
0       3    male  22.0      0   7.2500         0
1       1  female  38.0      0  71.2833         1
2       3  female  26.0      0   7.9250         1
3       1  female  35.0      0  53.1000         1
4       3    male  35.0      0   8.0500         0

In [6]:
target = df.Survived
inputs = df.drop(['Survived'], axis='columns')
inputs

     Pclass     Sex   Age  Parch     Fare
0         3    male  22.0      0   7.2500
1         1  female  38.0      0  71.2833
2         3  female  26.0      0   7.9250
3         1  female  35.0      0  53.1000
4         3    male  35.0      0   8.0500
..      ...     ...   ...    ...      ...
886       2    male  27.0      0  13.0000
887       1  female  19.0      0  30.0000
888       3  female   NaN      2  23.4500
889       1    male  26.0      0  30.0000
890       3    male  32.0      0   7.7500

[891 rows x 5 columns]

In [7]:
dummies = pd.get_dummies(inputs.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [8]:
#concat(table1,table2)
inputs = pd.concat([inputs, dummies], axis='columns')
inputs.head()

   Pclass     Sex   Age  Parch     Fare  female  male
0       3    male  22.0      0   7.2500       0     1
1       1  female  38.0      0  71.2833       1     0
2       3  female  26.0      0   7.9250       1     0
3       1  female  35.0      0  53.1000       1     0
4       3    male  35.0      0   8.0500       0     1

In [11]:
inputs.drop(['Sex'], axis='columns', inplace=True)
inputs.head()

   Pclass   Age  Parch     Fare  female  male
0       3  22.0      0   7.2500       0     1
1       1  38.0      0  71.2833       1     0
2       3  26.0      0   7.9250       1     0
3       1  35.0      0  53.1000       1     0
4       3  35.0      0   8.0500       0     1

In [12]:
inputs.info()
#age have null value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     714 non-null    float64
 2   Parch   891 non-null    int64
 3   Fare    891 non-null    float64
 4   female  891 non-null    uint8
 5   male    891 non-null    uint8
dtypes: float64(2), int64(2), uint8(2)
memory usage: 29.7 KB

In [13]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     891 non-null    float64
 2   Parch   891 non-null    int64
 3   Fare    891 non-null    float64
 4   female  891 non-null    uint8
 5   male    891 non-null    uint8
dtypes: float64(2), int64(2), uint8(2)
memory usage: 29.7 KB

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [16]:
#Gassuian used for normal dataset
from sklearn.naive_bayes import GaussianNB

In [17]:
model = GaussianNB()

In [18]:
model.fit(X_train, y_train)

GaussianNB()

In [19]:
model.score(X_test, y_test)

0.8268156424581006

In [21]:
y_test[:10]

145    0
294    0
6      0
133    1
234    0
387    1
353    0
60     0
29     0
523    1
Name: Survived, dtype: int64

In [22]:
model.predict(X_test[:10])

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1], dtype=int64)

In [23]:
model.predict_proba(X_test[:10])

array([[0.95921877, 0.04078123],
       [0.98759178, 0.01240822],
       [0.86458065, 0.13541935],
       [0.04652194, 0.95347806],
       [0.97282094, 0.02717906],
       [0.05290773, 0.94709227],
       [0.98786076, 0.01213924],
       [0.98710202, 0.01289798],
       [0.98861337, 0.01138663],
       [0.00623911, 0.99376089]])

# Spam Email

In [25]:
df_email = pd.read_csv("D:\WERK\PYTHON\CODEBASICS\dataset\spam.csv")
df_email.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
df_email.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [28]:
df_email['spam'] = df_email['Category'].apply(lambda x: 1 if x=='spam' else 0)
df_email.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [30]:
X_train, X_test, y_train, y_test = train_test_split(df_email.Message, df_email.spam, test_size=0.25)

In [42]:
#count the word in message column
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [43]:
from sklearn.naive_bayes import MultinomialNB

In [44]:
model_mnb = MultinomialNB()

In [46]:
model_mnb.fit(X_train_count, y_train)

MultinomialNB()

In [48]:
emails = [
    'Hey aryo, can we get together to watch POM tomorrow',
    'Chinese New Year Discount Sale upto 50%, exclusive offer just for you'
]
emails_count = v.transform(emails)
model_mnb.predict(emails_count)

array([0, 1], dtype=int64)

In [49]:
X_test_count = v.transform(X_test)
model_mnb.score(X_test_count, y_test)

0.9827709978463748

# Pipeline

In [50]:
from sklearn.pipeline import Pipeline

In [51]:
clf = Pipeline([ #Steps
    ('vectorizer', CountVectorizer()), #convert my text into vector in vectorizer columns 
    ('nb', MultinomialNB()) # apply MultinomialNB
])

In [52]:
#now i train it
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [53]:
clf.score(X_test, y_test)

0.9827709978463748

In [54]:
clf.predict(emails)

array([0, 1], dtype=int64)

# Exercise

In [55]:
from sklearn.datasets import load_wine

In [59]:
df_wine = load_wine()

In [60]:
dir(df_wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [62]:
df_wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [63]:
df_wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [65]:
df_wines = pd.DataFrame(df_wine.data, columns=df_wine.feature_names)

In [66]:
df_wines

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [67]:
df_wines['target'] = df_wine.target
df_wines.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [68]:
X_train, X_test, y_train, y_test = train_test_split(df_wine.data, df_wine.target, test_size=0.3, random_state=100)

In [69]:
model_gnb = GaussianNB()
model_gnb.fit(X_train, y_train)

GaussianNB()

In [70]:
model_gnb.score(X_test, y_test)

1.0

In [71]:
model_mnb.fit(X_train, y_train)

MultinomialNB()

In [72]:
model_mnb.score(X_test, y_test)

0.7777777777777778